*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.style1_container a
{
    color: white;
    font-size: 1.1rem;
    
}
.style1_container1 a
{
    color:black;
    font-size: 1.1rem;
    
}



#side_bar
{
    background-color: whitesmoke;
    width: 20px;
  height: 450px;
    padding: 90px;
    border-radius: 10px;
}
#username
{
    color: white;
}



